.body {
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.info {
    background-color: lightcyan;
}

@media only screen and (max-width : 600px) {
    .body {
        display: flex;
        flex-direction: column-reverse;
    }

    .activities {
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (min-width: 600px) and (max-width: 950px) and (orientation:portrait) {
    .activities {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}